.Menu {
  float: left;
  margin-top: 1em;
}

.Menu button {
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
  background-color: transparent;
  margin-left: 1em;
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.Menu button:hover {
  font-weight: bold;
}
